*
{
  box-sizing:border-box;
  font-family: cursive;
}
.division
{
  border: 2px solid black;
  margin-bottom: 20px;
  background-color: #999999;
  overflow: auto;
}
.row
{
  width: 100%;
  text-align: center;
}
p
{
  padding:10px;
}
#span1
{
  float: right;
  border: 2px solid black;
  padding: 4px;
  background-color: #D59898;
}
#span2
{
  float: right;
  border: 2px solid black;
  padding: 4px;
  color: white;
  background-color:#C14543;
}
#span3
{
  float: right;
  border: 2px solid black;
  padding: 4px;
  background-color: #E5D198;
}
@media (min-width: 992px)
{
  .col-lg-4
  {
    width: 32.33%;
    float: left;
    height: 150px;
  }
  #div1
  {
    margin-right: 1.5%;
  }
  #div2
  {
    margin-right: 1.5%;
  }
}
@media (min-width: 768px) and (max-width: 991px)
{
  .col-md-6
  {
    width: 49%;
    float: left;
    height: 150px;
  }
  #div1
  {
    margin-right: 2%;
  }
  .col-md-12
  {
    width: 100%;
    float: left;
    height: 150px;
  }
}
@media (max-width: 767px)
{
  .col-sm-12
  {
    width:100%;
    float: left;
    height: 150px;
  }
}
